@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body{
  font-family: 'Open Sans', sans-serif;
  background: url(https://aws1.discourse-cdn.com/pocketgems/uploads/episodeinteractive/optimized/3X/9/1/91cf2d96b6f71c752fd3d372436c0ed1a56c1bb8_2_690x387.jpeg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
}
.logo {
  float: left;
}
.logo img{
  width: 54px;
  height: 64px;
}
.login-box{
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}
.login-box h1{
  float: left;
  font-size: 40px;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 12px 0;
  margin: 12px 0;
  border-bottom: 1px solid  #ff0000;
  border-left: 1px solid #ff0000;
  border-top: 1px solid #ff0000;
  border-right: 1px solid #ff0000;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.custom-btn{
  width: 100%;
  background: none;
  border: 2px solid  #ff0000;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
  text-transform: uppercase;
}
.Button-link{
  font-size: 15px;
  position: relative;
  color: #ff0000;
  background: none;
  border: none;
}
.Button-link:hover{
  color: #ff0000;
}
